@font-face {
    font-family: "Norse bold";
    src: url(./fonts/Norse-Bold.otf);
}
body{
    margin: 0px;
}
.container{
    display: flex;
}
.first-column{
    max-width: 40%;
    position: relative;
}
.second-column{
    max-width: 60%;
    /* padding: 40px; */
}
.image{
    width: 100%;
}
#position{
    background-color: black;
    opacity: 0.6;
    position :absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    width: 110px;
    height: 110px;
}
#logo-text{
    color: white;
    font-family: "Norse bold";
    font-size: 60px;
}
#credit{
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 30%;
}
#credit a{
    color: white;
}
button{
    background-color: #596D48;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    padding: 10px 40px;
    box-shadow: none;
    border: none;
}
.callToAction{
    font-size: 24px;
    font-weight: bold;
}
.inputs{
    display: flex;
    flex-direction: column;
    min-width: 230px;
}
form{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 20px;
    padding: 30px 0px;
}
#first-part{
    padding: 40px;
    box-shadow: 0px 0px 10px 2px #ccc;

}
.second-part{
    padding: 40px;
    font-weight: bold;
}
.second-part a{
    text-decoration: none;
    color: #596D48;
}
/* input:valid{
    border: 1px solid #596D48;
} */
input:focus{
    border: 3px solid rgb(142, 142, 242);
    box-shadow: 0px 0px 5px 0px rgb(142, 142, 242);
}
label{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
#passwordValidation{
    margin-top: -10px;
}